<%= provide(:title, "#{@user.name}'s Profile") %>
<div class="row">
  <div class="col-md-4">
    <%= render 'shared/user_info', user: @user %>
    <% unless @user == current_user || @user.friends.include?(current_user) %>
      <%= render 'send_friend_request' %>
    <% end %>
  </div>

  <div class="col-md-8">
    <div class="well well-lg">
      <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#feed" data-toggle="tab" aria-expanded="true">Feed</a></li>
        <li class=""><a href="#posts" data-toggle="tab" aria-expanded="false">Your Posts</a></li>
        <li class=""><a href="#friends" data-toggle="tab" aria-expanded="false">Friends</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="feed">

        </div>
        <div class="tab-pane fade" id="posts">
          <ul class="list-group">
            <%= render @posts %>
          </ul>
        </div>
        <div class="tab-pane fade" id="friends">

          <% if @friends.empty? %>
            <h4>You have no friends yet.</h4>
            <%= link_to "Go make some!", users_path, class: "text-primary" %>
          <% else %>
            <ul class="list-group">
              <%= render partial: 'friend', collection: @friends %>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
