<div class="list-group-item">
  <div class="card">
    <div class="content">
      <h6><%= link_to post.user.name, user_path(post.user) %></h6>
      <p><%= post.content %></p>
      <p class="text-muted">Posted <%= time_ago_in_words(post.created_at) %> ago.</p>

      <ul class="list-group">
        <%= render partial: 'comments/comment', collection: post.comments %>
      </ul>

      <% unless post.user == current_user %>
        <% if current_user.liked_posts.include?(post) %>
          <%= render 'users/unlike', post: post %>
        <% else %>
          <%= render 'users/like', post: post %>
        <% end %>
      <% end %>

      <button class="btn btn-primary btn-just-icon dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-pencil"></i>
      </button>

      <div class="col-md-12 dropdown-menu">
        <%= render 'comments/comment_form', post: post %>
      </div>

    </div>
  </div>
</div>
